<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for sending emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizzaApp_PRM392"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- LoginActivity - Màn hình đầu tiên khi vào ứng dụng -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="Đăng nhập"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity - Màn hình đăng ký -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:label="Đăng ký"
            android:screenOrientation="portrait" />

        <!-- ProfileActivity - Màn hình thông tin cá nhân -->
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:label="Hồ sơ"
            android:screenOrientation="portrait" />

        <!-- ForgotPasswordActivity - Màn hình quên mật khẩu -->
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- VerifyOTPActivity - Màn hình xác thực OTP -->
        <activity
            android:name=".activities.VerifyOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- ResetPasswordActivity - Màn hình đặt lại mật khẩu -->
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- MainActivity - Màn hình chính ứng dụng -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Pizza Shop"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.ProductListActivity"
            android:exported="false"
            android:label="Danh sách Pizza"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.ProductDetailActivity"
            android:exported="false"
            android:label="Chi tiết Pizza"
            android:parentActivityName=".activities.ProductListActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".activities.CartActivity"
            android:exported="false"
            android:label="Giỏ hàng"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.ProductListActivity" />

        <activity
            android:name=".activities.CheckoutActivity"
            android:exported="false"
            android:label="Thanh toán"
            android:screenOrientation="portrait"/>

    </application>

</manifest>